<html>
 	<head>
  		<title>Tutorial: HelloWorld</title>
 	</head>
 	
	<body>
		
		<h1>Bienvenidos Administrador de Pois</h1>
		
		<h1>POIS</h1>
		
  		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
			{{#bancos}}
				<tr>
					<td>{{nombre}}</td>
				</tr>
			{{/bancos}}				
			</table>
			</div>
		</div>
		<H1>
	</body>
</html>
