<html>
  <head>
    <title>la terminal</title>
  </head>
  <body>
  	<div class="form-group">
	  	<h2>LA TERMINAL:</h2><input type="text" value=""  name="nombreUsuario"/>
	  	
    </div>
  </body>
</html>