<html>
 	<head>
  		<title>Tutorial: HelloWorld</title>
 	</head>
 	
	<body>
		<h2>Nombre:</h2><input type="text" value=""  name="userName"/>
	  	<h2>contraseña:</h2><input type="password" value="" name="userPassword"/>
	    <a href="/user/checkLogin?name=Ezequiel&pass=unaPass"><button>Login</button></a>
	</body>
</html>
