
<html>
  <head>
    <title>Tutorial: HelloWorld</title>
  </head>
  <body>
      	<h2>Nombre:</h2><input type="text" value=""  name="nombreUsuario"/>
	  	<h2>contraseña:</h2><input type="password" value="" name="contraseñaUsuario"/>
	    <a href="show"><button>Login</button></a>
	    <input type="submit">
	    
	   <label for="nombre">Nombre</label>
	<input type="text" name="nombre">
	
	<label for="cantidadEmpleados">Cantidad de Empleados</label>
	<input type="number" name="cantidadEmpleados">
	
	<input type="submit">
  
  </body>
</html>
