<html>
 	<head>
  		<title>Tutorial: HelloWorld</title>
 	</head>
 	
	<body>
		<h2>Nombre:</h2><input type="text" value=""  name="nombreUsuario"/>
	  	<h2>contraseña:</h2><input type="password" value="" name="contraseñaUsuario"/>
	    <a href="show"><button>Login</button></a>
	    
	
  		<div class="row">
			<div class="col-md-12">	
			<table class="table table-striped" >
			{{#bancos}}
				<tr>
					<td>{{nombre}}</td>
				</tr>
			{{/bancos}}				
			</table>
			</div>
		</div>
	</body>
</html>
